@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1E2939;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}

.custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: #1A1A1A #1E2939;
}
