@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+VN:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+VN:wght@100..400&display=swap");
@import "tailwindcss";
@theme {
  --font-jetbrains: 'JetBrains Mono', monospace;
}

body {
  font-family: "Inter", sans-serif;
}

::selection {
  background-color: #381f1a;
  color: #f67655;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -9999;
  background-image: linear-gradient(#0d0d0f 1px, transparent 1px),
    linear-gradient(90deg, #0d0d0f 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
}

@keyframes pulseGlow {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.3;
  }
}
