.glow-background-wheel {
  background: radial-gradient(circle at center,
      #5e3227c1,
      rgba(0, 0, 0, 0) 70%);
  filter: blur(40px);
  animation: pulseGlow 5s ease-in-out infinite;
}

@keyframes pulseGlow {

  0%,
  100% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }
}